<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hb.mydietcoach">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/icon_my_diet_coach"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Activity for extend-->
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.ScoreActivity" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.diary.DiaryActivity"
            android:label="@string/title_activity_diary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.reminder.ReminderActivity"
            android:label="@string/title_activity_reminder"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.diary.AddExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.diary.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.diary.EdittingMealHistoryActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".notification.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".notification.NotificationIntentService"
            android:exported="false" />

        <activity
            android:name=".activity.TermConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.reminder.EdittingReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.challenge.ChallengesActivity"
            android:label="@string/title_activity_challenges"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.challenge.EdittingChallengeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.challenge.AddingChallengeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.challenge.NewChallengeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.photo.PhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tip.TipsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tip.TipDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tip.AddingTipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WeightLoggingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.contact_faq.ContactFAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.contact_faq.FrequentAskQuestionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RewardActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>