<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hb.mydietcoach">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.diary.DiaryActivity"
            android:label="@string/title_activity_diary"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.reminder.ReminderActivity"
            android:label="@string/title_activity_reminder"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.diary.AddExerciseActivity" />
        <activity
            android:name=".activity.diary.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.diary.EdittingMealHistoryActivity" />

        <receiver
            android:name=".notification.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".notification.NotificationIntentService"
            android:exported="false" />

        <activity android:name=".activity.TermConditionActivity" />
        <activity android:name=".activity.reminder.EdittingReminderActivity" />
        <activity
            android:name=".activity.challenge.ChallengesActivity"
            android:label="@string/title_activity_challenges"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.challenge.EdittingChallengeActivity" />
        <activity android:name=".activity.challenge.AddingChallengeActivity" />
        <activity android:name=".activity.challenge.NewChallengeActivity" />
        <activity android:name=".activity.photo.PhotosActivity" />
        <activity android:name=".activity.tip.TipsActivity" />
        <activity android:name=".activity.tip.TipDetailActivity" />
        <activity android:name=".activity.tip.AddingTipActivity" />
        <activity android:name=".activity.WeightLoggingActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.ContactFAQActivity"></activity>
    </application>

</manifest>